<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payease.p2p.business.mapper.AccountFlowMapper" >
  <resultMap id="BaseResultMap" type="com.payease.p2p.business.domain.AccountFlow" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="accountActionType" property="accountActionType" jdbcType="TINYINT" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="useableAmount" property="useableAmount" jdbcType="DECIMAL" />
    <result column="freezedAmount" property="freezedAmount" jdbcType="DECIMAL" />
    <result column="vdate" property="vdate" jdbcType="TIMESTAMP" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
  </resultMap>

  <insert id="insert"  useGeneratedKeys="true" keyProperty="id" >
    insert into accountflow (accountActionType, amount, note, useableAmount, freezedAmount, vdate, account_id)
    values (#{accountActionType,jdbcType=TINYINT}, #{amount,jdbcType=DECIMAL}, #{note,jdbcType=VARCHAR},
      #{useableAmount,jdbcType=DECIMAL}, #{freezedAmount,jdbcType=DECIMAL}, #{vdate,jdbcType=TIMESTAMP},
      #{accountId,jdbcType=BIGINT})
  </insert>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, accountActionType, amount, note, useableAmount, freezedAmount, vdate, account_id
    from accountflow
    where id = #{id,jdbcType=BIGINT}
  </select>

</mapper>