<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payease.p2p.business.mapper.UserBankinfoMapper" >
  <resultMap id="BaseResultMap" type="com.payease.p2p.business.domain.UserBankinfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="forkName" property="forkName" jdbcType="VARCHAR" />
    <result column="bankName" property="bankName" jdbcType="VARCHAR" />
    <result column="accountNumber" property="accountNumber" jdbcType="VARCHAR" />
    <result column="accountName" property="accountName" jdbcType="VARCHAR" />

    <association property="logininfo" javaType="com.payease.p2p.base.domain.LoginInfo" columnPrefix="li_">
      <id column="id" property="id" />
      <result column="username" property="username" />
    </association>
  </resultMap>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into userbankinfo (forkName, bankName, accountNumber, logininfo_id, accountName)
    values (#{forkName,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{accountNumber,jdbcType=VARCHAR},
      #{logininfo.id,jdbcType=BIGINT}, #{accountName,jdbcType=VARCHAR})
  </insert>

  <select id="selectByUser" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select u.id, u.forkName, u.bankName, u.accountNumber, u.accountName,u.logininfo_id,
           li.id AS li_id, li.username AS li_username
    from userbankinfo u JOIN login_info li ON u.logininfo_id = li.id
    where u.logininfo_id = #{userid,jdbcType=BIGINT}
  </select>

</mapper>